 @charset "utf-8";

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: none;
        vertical-align: baseline;
        -webkit-overflow-scrolling:touch;
    }
    html {
    /* 设置根节点字体大小为100px,方便计算; */
     font-size: 13.3334vw;
    }

    body {
    /* 浏览器宽度在600px~1000px变化的时候，html根元素的font-size大小是18px~22px之间对应变化 */
    font-size: calc(18px + 4 * (100vw - 600px) / 400);
    background-color: #f5f5f5;
    }

    html {
        /* 禁止横屏字体自动缩放 */
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    body {
        width: 100%;
        height: 100%;
        /* 移动端最佳字体选择顺序 */
        font-family: "Helvetica Neue", "Helvetica", "STHeiTi", "sans-serif";
    }
    /* 解决IOS下滚动条滑动不流畅的问题 */
    /* div{
        -webkit-overflow-scrolling:touch;
    } */

    html,
    body {
        /* 禁止用户在网站上选择文本 */
        -webkit-user-select: none;
        user-select: none;
    }
    /* 设置a标签的美化样式 */

    a {
        text-decoration: none;
    }

    a:active {
        background-color: transparent;
    }

    a:active,
    a:hover {
        outline: 0 none;
    }
    a,
    img {
        border: 0 none;
        width: auto;
        height: auto;
        max-width: 100%;
        vertical-align: top;
        /* 禁用系统默认菜单 */
        -webkit-touch-callout: none;
    }

    button,
    select {
        text-transform: none;
    }

    i,
    em,
    b {
        font-style: normal;
        font-weight: normal;
    }
    /* 美化input type=number类型 */

    input[type=number] {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
    /* 美化placeholder属性/ */

    input::-webkit-input-placeholder {
        color: #ccc;
        font-size: 14px;
    }

    input:focus::-webkit-input-placeholder {
        color: #ffb579;
    }

    input::-webkit-input-speech-button {
        display: none;
    }

    textarea {
        overflow: auto;
        resize: vertical;
    }

    button,
    optgroup,
    select,
    textarea {
        -webkit-appearance: none;
        /* border:none; */
        outline: none;
    }

    a,
    label,
    input,
    optgroup,
    select,
    textarea {
        /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    ol,
    ul {
        list-style: none;
        list-style-image: none;
        list-style-type: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    caption,
    th,
    td {
        text-align: left;
        font-weight: normal;
        vertical-align: middle;
    }
